html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
body{
    background-color:white;
  
}
.section-p1{
    padding: 40px 80px;
}
/* header */
#banner1 .img{
    width: 1024px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #000000 ;
    box-shadow: 0 0 0 #1d1d1d;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 201, 0.452);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    width: 200px;  
    height: 50px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.726);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#00cfc1;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color:#00cfc1 ;
    position: absolute;
    bottom: -4px;
    left:20px;

}
#mobile{
    display: none;
    align-items: center;
}
/* home page */
.welcome{
    text-align: center;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 25px;
    
    
}
.welcome span{
    text-transform: uppercase;
    display: block;
}
.text1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    margin-bottom: 10px;
    position: relative;
    animation: text 2s 1;
    
}
.text2{
    font-size: 20px;
    color:#00cfc1;
    font-weight: 700;
    
}
@keyframes text{
    0%{
        color: rgb(0, 0, 0);
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 15px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 5px;
        margin-bottom: -40px;
    }
}
#hero{
   
   background-size: cover;
   background-position:center;
   background-color: rgb(226, 226, 226);
   border-radius: 5px;
   height: 80vh;
   width: auto;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   box-shadow: 0 5px 15px #1d1d1d;
   color: #ffffff;
   background-image: url(img/banners/baner1.png);

}
#hero h1{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    color:  rgba(226, 226, 226, 0.822);
}
 #hero h2{
    margin-top: 120px;
    margin-bottom: -15px;
    font-weight:600 ;
    font-size: 30px;
    color:  rgba(226, 226, 226, 0.795);
} 



#hero button{
    
    font-size: 13px;
    font-weight: 600;
    padding:  11px 18px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
    
}
#hero button:hover{
    color:white;
    box-shadow:0 0 5px #1d1d1d;
    background-color: #00ccbea1;
    
}

/* features */

#wrapper{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}
.parent{
    width: 37%;
    margin: 20px;
    height: 280px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px #1d1d1d;
    border:2px solid #1d1d1d;
    border-radius: 3px;
}
.child{
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 1.1s;

}



.bg-one{
    background-image: url(img/homepage/pxfuel\ \(1\).jpg);
}

.bg-two{
    background-image: url(img/homepage/pxfuel\ \(1\).jpg);
}

.bg-three{
    background-image: url(img/homepage/pxfuel\ \(1\).jpg);
}
.bg-four{
    background-image: url(img/homepage/pxfuel\ \(1\).jpg);
}

.parent:hover .child{
    transform: scale(1.2);
    background-color: #00000073;
}

#wrapper button{
    background-color:transparent;
    color: #b3b3b3;
    font-weight: 1000;
    font-size: large;
    border: 2px solid #b3b3b3;
    border-radius: 2px;
    margin-top: 130px;
    cursor: pointer;
    transition: 0.3s ease;
}
#wrapper button:hover{
    background-color: #0000006e;
}
#wrapper button a{
    text-decoration: none;
    color: #ffffff;
}
#wrapper h2{
    color: #088178;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
}

 .section-p1 h2{
    color: #088178;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1{
    text-align: center;
}
#product1 .pro{
    
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #d4d4d4; 
    border-radius: 5px;
    cursor: pointer;
    
    margin: 15px 0;
    transition: 0.2s  ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 2px 5px 10px #747474;
}

#product1 .pro img{
    width: 100%;
    border-radius: 7px;
}
#product1 .pro .description{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .description h4{
    font-size: 20px;
    color: #3a3a3a;
}
#product1 .pro .description span{
    color: #36aaa8;
    font-size: 16px;
    font-weight: 600;
}
#product1 .pro .description i{
    font-size: 12px;
    color: rgb(243, 181, 25);
    border-color: black;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#c7c7c7;
    font-weight: 500;
    color: #ffffff;
    border:  1px soild #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: 0.5s ease;
}
#product1 .pro .cart:hover{
    color: #07a83f;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.06);
}
/* banners */
#sm_banner{
    display: flex;
    justify-content:space-between;
}
#sm_banner .banner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(img/banners/b4.png);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-color: orange;
    padding-left: 30px;

}
#sm_banner .banner_box1{
   background-image: url(img/banners/b3.png);
  
}
#sm_banner h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}
#sm_banner h2{
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}
#sm_banner span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm_banner .banner_box:hover button{
    background-color:#088178 ;
    border: 1px solid #088178;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding:  11px 18px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}
#banner_2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner_2 .banner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(img/banners/bs5.png);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-color: #4d4d4d;
    padding-left: 20px;
    margin-bottom: 20px;
}
#banner_2 .banner_box2{
    background-image: url(img/banners/bs6.png);
    
}
#banner_2 .banner_box3{
    background-image: url(img/banners/b14.jpg);
}


#banner_2 h2{
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;

}
#banner_2 h3{
    color: #f84d4d;
    font-weight: 800;
    font-size: 15px;
    
}
/* footer */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1d1d1d;
    border-radius: 5px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: #00cfc1;
}
footer p{
    font-size: 13px;
   margin: 0 0 8px 0;
   color: #b3b3b3;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #b3b3b3;
    margin-bottom: 10px ;
}

footer .icon{
    color: #b3b3b3;
    padding-right: 4px;
    cursor: pointer;

}

footer .icon i:hover,
footer .col a:hover{
    color: #00cfc1;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* aqua plants */
#page-header{
    background-image: url(img/banners/b2.png);
    width: auto;
    height: 40vh;
    background-size:cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-top: 10px;
    
}
#page-header h2,
#page-header p{
    color: rgba(255, 255, 255, 0.726);
}

#pagination{
    text-align: center;

}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 10px 12px;
    border-radius: 4px;
    color: white;
    font-weight: 600;

}
#pagination a i{
    font-size: 15px;
    font-weight: 600;
} 

.title{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    
    
}
.title span{
    text-transform: uppercase;
    display: block;
}
.topic{
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.705);
    letter-spacing: 5px;
    margin-bottom: 10px;
    position: relative;
    animation: text 2s 1;
    
}

@keyframes topic{
    0%{
        color: rgb(255, 255, 255);
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 20px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 5px;
        margin-bottom: -40px;
    }
}

#prodetails{
    display: flex;  
    margin-top: 30px;
}

#prodetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
    border: 1px solid rgba(167, 167, 167, 0.575);
    border-radius: 4px; 
    height: 54.5vh;   
}

#prodetails .single-pro-details{
    width: 50%;
    /* padding-top: 30px;
     */
}

#prodetails .single-pro-details h4{
    font-size: 25px;
    margin-bottom: -10px;
}
#prodetails .single-pro-details h3{
    font-size: 30px;
}
#prodetails .single-pro-details h6{
    font-size: 15px;
    margin-top: -3px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    font-size: 13px;
    font-weight: 600;
    padding:  11px 18px;
    color: #ffffff;
    background-color: #088178;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    transition: 0.2s;
}

/* Media Query */

@media (max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        padding: 80px 0 0 10px;
        background-color: #000000;

    }
    #navbar .active{
        right: 700px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        
        display: flex;
        align-items: center;
        
    }
    #mobile i {
        color: white;
        font-size: 24px;
        padding-left: 20px;
    }
}